@charset "UTF-8";

/*A CHANGER !*/
body{
    margin: 0;
    padding: 0;
}
/*A CHANGER !!*/
.wrapper {
	max-width: 1920px;
	font-family: 'Josefin Sans', sans-serif;
    background-color: rgba(0, 0, 0, 0.80);
    color: seashell;
}

h2 {
    text-align: center;
}

h3 {
    max-width: 280px;
    font-size: 18px;
}

h4 {
    margin: 6px;
}

ul {
	list-style-type: none;
    padding: 20px
}

li {
    padding-bottom: 20px;
}

a:link {
    background-color: transparent;
    text-decoration: none;
}
  
a:visited {
    color:seashell;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    background-color: rgb(252, 79, 11);
    padding: 6px;
    transition:all 0.7s ease;
    cursor: pointer;
}
  
/*Start Header*/
.bandeau {
	height: 40px;
    background-color: #222222;	
}

.login {
    float: right;
}

.bandeau .icone {
	display: inline-block;
    padding-left: 10px;
}

a.socials-item {
    display: inline-block;
    text-align: center;
    -o-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    margin: 2.5px 5px;
    line-height: 16px;
    padding: 6px;
    border-radius: 50%;
    background-color: #27292c;
    border: 1px solid #2e2e4c;
}

.socials-item i {
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 1;
    font-size: 17px;
    text-align: center;
}

.facebook {
    color: #4e64b3;
}

.twitter {
    color: #00aced;
}
.instagram {
    color: #9a8f62;
}
.youtube {
    color: #c82929;
}

.telegram {
    color: #2ca5e0;
}


a.socials-item:hover {
	transition: all 0.8s;
    box-shadow: 0 0px 20px rgb(255, 144, 99);
    border-color: rgba(86, 93, 117, 0.61);
	background: linear-gradient(to right, rgba(236, 61, 61, 0.129), rgb(255, 144, 99), rgba(241, 197, 50, 0.14));
}

.bandeau input {
    border: none;
    margin: 3px 0 8px 0; 
}

.bandeau input[type="text"] {
    width: 170px;
    padding: 7.5px;
}
.bandeau input[type="password"] {
    width: 140px;
    padding: 7.5px;
}

.bandeau button {
    float: right;
    padding: 7px;
    margin: 3px 0 8px 0;
    margin-right: 6px; 
    background: rgb(197, 193, 193);
    font-size: 14px;
    border: none;
    cursor: pointer;
    width: 60px;
}
.bandeau button:hover {
    background: rgb(253, 123, 71);
}

.loguee {
    color: white;
    padding-right: 20px;
    font-weight: bold;
}

/*Start Zone Logo*/
.logo-zone {
    min-height: 90px;
    padding: 15px 130px 0 55px;
}

.logo-zone img {
	width: 250px;
    float: left;
} 

.cart-log-icone {
    float: right;
    margin: 20px 10px;
}

.cart-log-icone i {
    font-size: 30px;
    padding: 8px;
    
}
.cart-log-icone a {
    padding: 18px 5px 5px 5px;
}

/*End Zone Logo*/

/*Start Navbar*/
nav {
    position: absolute;
    top: 50px;
    right: 0;
    left: 125px;
    width: 950px;
    margin: 0px auto;
}

nav a {
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}

nav ul {
    background: darkorange;
    list-style: none;
    margin: 0;
    margin-top: 15px;
    padding: 0;
    
}

nav li {
    width: 150px;
    color: #fff;  
    display: block;
    float: left;
    padding: 15px 10px 15px 15px;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

nav li a {
    color: rgb(255, 251, 251);
}

nav li:hover,
nav li:focus-within {
background: rgb(252, 79, 11);
cursor: pointer;
}

nav li:focus-within a {
outline: none;
}

nav ul li ul {
background: orange;
visibility: hidden;
opacity: 0;
min-width: 75px;
position: absolute;
transition: all 0.5s ease;
margin-top: 1rem;
left: 0;
display: none;
}

nav ul li:hover > ul,
nav ul li:focus-within > ul,
nav ul li ul:hover,
nav ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
}
  
nav ul li ul li {
    clear: both;
}
/*End Navbar*/
/*End Header*/

/*Start Main*/
main {
    padding-bottom: 25px;
}

.slider {
    display: inline-block;
    background: rgb(255, 128, 78);
    min-height: 700px;
    max-width: 850px;
    margin: 40px 20px 7px 150px;
    padding-top: 40px;
}

.affichage-slider img {
    width: 160px;
}

.slide-left {
    float: left;
}
.slide-inline {
    display: inline-block;
}
.slide-right {
    float: right;
    max-width: 500px;
}

.trophee-container {
    display: block;
    height: 350px;
    max-width: 280px;
    padding-top: 35px;
}

.trophee-img {
    height: 200px;
    padding: 90px 50px 30px 50px;
}

.trophee-lien {
    font-size: 20px;
    padding-left: 45px;
    text-decoration: none;
}

.clear {
	clear: both;
    color: white;
    text-align: right;
}

.widget-left {
    float: left;
    margin-top: 40px;
    padding: 0 20px;
}

.widget-right {
    float: right;
    margin-top: 40px;
    padding-right: 30px;
}
.widget-right p {
    font-weight: bold;
    padding-left: 40px;
}
.news { 
    max-width: 240px;
    margin: 10px 60px;
    height: 200px;
    border: 2px solid seashell;
}

.publication {
    max-width: 210px;
    margin: 10px 60px;
    font-weight: bold;
    max-height: 400px;

    padding: 14px
}

.publication-title {
   margin-top: 40px;
}

.publication img {
    width: 170px;
}

.concours-regle {
    max-width: 250px;
    margin: 50px 60px 190px 60px;
    padding: 50px 0;
    max-height: 70px;
    border: 2px solid seashell;
}

.widget-reglement-title

.form-auteur {
    max-width: 280px;
    margin: 50px 60px;
    min-height: 90px;
    border: 2px solid seashell;
}

.form-jury {
    max-width: 280px;
    margin: 50px 60px;
    min-height: 90px;
    border: 2px solid seashell;
}

.acces-jury-notees {
    max-width: 350px;
    margin: 50px 60px;
    height: 180px;
    border-top: 2px solid seashell;
    border-left: 2px solid seashell;
    max-height: 600px;
}

.livre-noter {
    padding-left: 30px;
    margin: 0 auto;
}

.livre-noter img {
    height: 210px;
}

.acces-auteur-lien {
    font-size: 25px;
}

.acces-auteur-paraslider {
    font-size: 18px;
    text-align: justify;
    padding: 40px;
}

.affichage-slider-reglement {
    padding: 30px 90px;
}

.reglement-paraslider {
    padding: 30px 50px;
    font-size: 18px;
    text-align: justify;
    max-width: 500px;
    margin: 0 auto;
}

.affichage-slider-laureats {
   margin: 0 auto;
   padding: 15px;
}

.affichage-slider-laureats img {
    width: 180px;
}

.laureats-annee {
    padding: 15px 40px;
    margin-top: 15px;
    max-width: 900px;
}

.laureats-annee span {
    margin: 25px;  
    
}

.annee-container {
    border: 2px solid seashell;
    min-width: 500px;
}

.par-categorie {
    padding: 50px 40px;
    width: 600px;
    min-height: 450px;
}

.image-laureat {
    float: left;
    width: 150px;
    padding-right: 80px;
}

.presentation-livre {
    display: inline-block;
    width: 300px;
    height: 100px;
}

.presentation-laureats-oeuvre {
    padding-top: 35px;
}

.laureats-resume {
    float:right;
    width: 270px;
    text-align: justify;
    padding-left: 30px;
}

.loguez-button {
    width: 30%;
    background-color: #000000;
    color: white;
    padding: 4px 10px;
    cursor: pointer;
    margin-left: 20px;
}
.loguez-button:hover {
    background-color: #444343;
}

/*Start Formulaire Inscription et Participation*/
.formulaire-jury {
    min-width: 750px;
    min-height: 500px;
    margin:0 auto;
    display:block;
    width:100%;
    padding: 30px 40px;
    box-sizing:border-box;
    border-radius:0 0 3px 3px;
}

fieldset {
    padding: 20px;
    color: rgb(214, 214, 214);
}

.radio {
    padding-bottom: 10px;
}
/*End Formualire*/

/*Start Login Page Formulaire*/

/*End Login Page Formulaire*/

/*Start Footer*/
footer {
    height: 200px;
	padding: 0 15px 0 40px;
    border-top: 2px solid seashell;
}

.plan-site {
    float: left;
	width: 750px;
	display: table;
	padding: 10px 0 0 35px;
}

.f-col {
	display: table-cell;
	margin-left: 20px;
	width: 140px;  
}

.f-col li {
    padding-bottom: 5px;
}

footer .icone {
	display: inline-block;
	height: 50px;
	width: 400px;
	margin: 125px 0 0 200px;
}

footer a.socials-item {
    padding: 12px;
}

footer .socials-item i {
    font-size: 19px;
    text-align: center;
}

.footer-bottom a:hover {
    color: white;
}

.formulaire {
	float: right;
	width: 250px;
	display: block;
	padding-right: 90px;
}

input[type=text], input[type="date"], input[type="email"], input[type=password]{
	width: 90%;
	padding: 6px 12px;
	margin: 3px;
}
textarea {
	width: 91%;
	padding: 6px 12px;
	margin-left: 3px;
}

input[type=submit] {
	width: 50%;
	background-color: #000000;
	color: white;
	padding: 4px 10px;
	cursor: pointer;
	margin-left: 33%;
}
input[type=submit]:hover {
  background-color: #444343;
}
/*End Footer*/